openapi: '3.0.0'
info:
  version: 1.0.0
  title: Boast Image API
  license:
    name: MIT
servers:
  - url: https://api.boast.com/v1
paths:
  /projects:
    get:
      summary: List all projects
      operationId: listProjects
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a project
      operationId: createProjects
      responses:
        201:
          description: Project creation successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}:
    get:
      summary: Info for a specific project
      operationId: showProjectById
      parameters:
        - name: projectId
          in: path
          required: true
          description: The id of the project to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a project
      operationId: updateProject
      responses:
        200:
          description: Project updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /feedback:
    get:
      summary: List all feedback items
      operationId: listFeedback
      parameters:
        - name: projectId
          in: query
          description: Filter feedback by project ID
          required: false
          schema:
            type: string
      responses:
        200:
          description: A paged array of feedback items
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feedback'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Submit feedback on a project
      operationId: submitFeedback
      responses:
        201:
          description: Feedback submitted successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
        createdAt:
          type: string
          format: date-time
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Feedback:
      type: array
      items:
        $ref: '#/components/schemas/FeedbackItem'
    FeedbackItem:
      required:
        - id
        - projectId
        - content
      properties:
        id:
          type: string
        projectId:
          type: string
        content:
          type: string
        author:
          type: string
        createdAt:
          type: string
          format: date-time
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string